# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=devnest
# For Docker use: postgresql://postgres:your_password_here@postgres:5432/devnest?schema=public
# For Local use:  postgresql://postgres:your_password_here@localhost:5432/devnest?schema=public
POSTGRES_URL=postgresql://postgres:your_password_here@localhost:5432/devnest?schema=public

# Redis Configuration
# For Docker use: redis://redis:6379
# For Local use:  redis://localhost:6379
REDIS_URL=redis://localhost:6379

# JWT Secrets
ACCESS_SECRET=your_access_token_secret_here
REFRESH_SECRET=your_refresh_token_secret_here
MAX_SESSIONS=5

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

# Frontend URL
FRONTEND_URL=http://localhost:5173
